<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageChecker</servlet-name>
        <servlet-class>controller.ImageChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageChecker_Pipeline</servlet-name>
        <servlet-class>controller.ImageChecker_Pipeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserComplain</servlet-name>
        <servlet-class>controller.UpdateUserComplain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>controller.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserChecker</servlet-name>
        <servlet-class>controller.DeleteUserChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserComplainProcess</servlet-name>
        <servlet-class>controller.UpdateUserComplainProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarningUser</servlet-name>
        <servlet-class>controller.WarningUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageChecker</servlet-name>
        <url-pattern>/ImageChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageChecker_Pipeline</servlet-name>
        <url-pattern>/ImageChecker_Pipeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserComplain</servlet-name>
        <url-pattern>/UpdateUserComplain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserChecker</servlet-name>
        <url-pattern>/DeleteUserChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserComplainProcess</servlet-name>
        <url-pattern>/UpdateUserComplainProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarningUser</servlet-name>
        <url-pattern>/WarningUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
